

body
{
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  font-family: 'Prosto One', cursive;
  background: url('https://subtlepatterns.com/patterns/egg_shell.png');
  _background: #eee;
}

#login-form
{
  color: #777;
  border: 0px solid #afafaf;
  width: 30%;
  margin-left: 35%;
  margin-top: 120px;
  text-align: center;
  padding: 40px;
  padding-top: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 8px #777;
  background: rgba(255, 255, 255, 0.6);
}

input, button
{
  color: #777;
  font-weight: bold;
  width: 70%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #afafaf;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
}

input[type="button"]
{
  color: white;
  width: 30%;
  border: 0px solid transparent;
  outline: none;
  cursor: pointer;
}

#login
{
  background: #51AC74;
}

#register
{
  background: #5C8AE6;
}